html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#card {
    background-color: #fff;
    height: 450px;
    width: 300px;
    border-radius: 15px;

    
}
img {
    margin: 30px 25px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: red;
    margin-bottom: 30px;
}
#btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin-left: 15px;
    font-size: 20px;
    border-radius: 5px;
}
#remove {
    background-color: lightgray;
    color: black;
}
#add {
    background-color: royalblue;
    color: #fff;
}
